<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<br>
<br>
<head>
  <meta charset="ISO-8859-1">

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

</head>
<div class="container">
  <div class="row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">

      <h1 class = "text-center"> Update Customer </h1>

      <div class = "card-body">

        <form th:action="@{/customers/{id}
             (id=${customer.customer_id})}"
              th:object="${customer}"
              method="POST">

          <div class ="form-group">
            <label> Customer's id </label>
            <input
                    type = "number"
                    name = "customer_id"
                    th:field = "*{customer_id}"
                    class = "form-control"
                    placeholder="Enter Customer's id" />
          </div>

          <div class ="form-group">
            <label> Customer's Firstname </label>
            <input
                    type = "text"
                    name = "firstname"
                    th:field = "*{firstname}"
                    class = "form-control"
                    placeholder="Enter Customer's Firstname" />
          </div>

          <div class ="form-group">
            <label> Customer's Lastname </label>
            <input
                    type = "text"
                    name = "lastname"
                    th:field = "*{lastname}"
                    class = "form-control"
                    placeholder="Enter Customer's Lastname"/>
          </div>

          <div class ="form-group">
            <label> Address of Customer </label>
            <input
                    type = "text"
                    name = "address"
                    th:field = "*{address}"
                    class = "form-control"
                    placeholder="Enter Customer's address"/>
          </div>

          <div class ="form-group">
            <label> City of Customer </label>
            <input
                    type = "text"
                    name = "city"
                    th:field = "*{city}"
                    class = "form-control"
                    placeholder="Enter Customer's city"/>
          </div>

          <div class ="form-group">
            <label> Customer's phone number </label>
            <input
                    type = "text"
                    name = "phoneno"
                    th:field = "*{phoneno}"
                    class = "form-control"
                    placeholder="Enter Customer's phoneNo"/>
          </div>

          <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
              Submit
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>