<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles"></head>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            text-align: left;
            color: white;
            font-size: 50px;
            font-family: "Comic Sans MS";
        }

        .top-left {
            position: absolute;
            top: 350px;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FAD7A0;
        }
    </style>
</head>
<Body background='https://images.unsplash.com/photo-1441171205449-f600f908a9f3?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332'
      style="background-size: cover;">
<!-- Page content goes here -->
<div class="container">
    <div class="top-left">Welcome!</div>
</div>
</body>
</html>
